:root {
  --percentage: 50%;
}

#slider {
  position: absolute;
  top: 0;
  left: var(--percentage);
  width: 20px;
  height: 100%;
  transform: translateX(-50%);
  cursor: ew-resize;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider .thumb {
  aspect-ratio: 1/1;
  background-color: #cceeff;
  border-radius: 50%;
  border: 1px solid #446677;
  padding: 0.1em;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#slider .divider {
  background: #0088ff;
  width: 2px;
  display: block;
  height: 100%;
  position: absolute;
}

.clipper {
  position: absolute;
  height: 100%;
  width: 100%;
  clip-path: inset(0 0 0 var(--percentage));
}

.controls {
  background: #002233;
  color: #ddeeff;
  padding: 1em;
  border-radius: 1em;
  gap: 1em;
  align-items: center;
}

.control-group {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.button {
  display: block;
  padding: 0.5em 1em;
  background: #335566;
  color: #cceeff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
}

.button:hover {
  background: #446677;
}

.slider > input[type="range"] {
  width: 100%;
}

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.color-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-input input[type="color"] {
  width: 100%;
  height: 2em;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  display: block;
}

.color-input input[type="text"] {
  width: 6em;
  padding: 0.35em 0.5em;
  border-radius: 0.25em;
  background: #88aabb;
  color: #002233;
  font-family: monospace;
  font-size: 0.8rem;
  text-align: center;
  outline: none;
  border: none;
}

.colors .button {
  font-size: 0.6rem;
}
