body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #113344;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 3rem;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#wrapper {
  width: 80vmin;
  aspect-ratio: 1 / 1;
  background-color: #224455;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

#wrapper canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}
